<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="1901" />
        <meta name="copyright" content="1901" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<title>1901防糊涂笔记 - {{ page.title }}</title>
	</head>

<body>
		<div id="logo"><h1><a href="/">N神AS研究所</a></h1></div>
		<div id="wrapper">
			<div id="content" class="index">
				<div id="sidebar">
					<ul>
						<li><a href="/index.html">我的笔记</a></li>
					</ul>
				</div>

				<div id="main">
				{{ content }}
				</div>

				<div id="footer">
					<div id="feed">
						<div class="badget" id="feedburner">
							<a href="http://feed.feedsky.com/nshen" target="_blank" />
							<span class="service">rss</span>
							<span class="info"> </span>
							</a>
						</div>
					</div>
					<span style="color:#999999;font-size:12px"><em>1901 at github.com</em></span>
					<p style="clear:both"></p>
				</div>

			</div>

        </div>

		
	</body>
</html>
